---
- hosts: all
  become: yes

  pre_tasks:
    - name: install epel
      yum:
        name: epel-release
        state: installed

    - name: install yum-utils
      yum:
        name: yum-utils
        state: installed

    - name: install device-mapper-persistent-data
      yum:
        name: device-mapper-persistent-data
        state: installed

    - name: install lvm2
      yum:
        name: lvm2
        state: installed

    - name: add repository
      shell: yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo

  tasks:
    - name: install docker
      yum:
        name: docker-ce
        state: installed

    - name: docker group
      shell: usermod -aG docker vagrant

    - name: start docker
      shell: systemctl start docker

    - name: install docker-compose
      shell: curl -L https://github.com/docker/compose/releases/download/1.17.0/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose

    - name: update docker-compose
      shell: chmod +x /usr/local/bin/docker-compose

    # - name: start docker compose
    #   shell: "/usr/local/bin/docker-compose -f /vagrant/docker-compose.yml up -d"
